@import "tailwindcss";

.custom-scroll {
  overflow: hidden !important;
}

.custom-scroll [data-radix-scroll-area-viewport] {
  overflow-y: scroll !important;
}

.custom-scroll [data-radix-scroll-area-viewport]::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll [data-radix-scroll-area-viewport]::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.custom-scroll [data-radix-scroll-area-viewport]::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 9999px;
}

.custom-scroll
  [data-radix-scroll-area-viewport]::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}

.custom-scroll [data-radix-scroll-area-viewport] {
  scrollbar-width: thin;
  scrollbar-color: #0ea5e9 rgba(15, 23, 42, 0.5);
}
